*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}



.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    margin: 0;
    padding: 0;
    background: rgb(28, 28, 28);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2.3rem;
    outline: none;
}
.function{
    color: black;
    background-color: rgb(212, 210, 206);
    border: 1px rgb(212, 212, 210);

}

.numeral{
    color: white;
    background-color: rgb(80, 80, 80);
    border: 1px rgb(80, 80, 80);
}
.operator{
    color: white;
    background-color: rgb(255, 149, 0);
    border: 1px rgb(255, 149, 0);
}

.norm-button{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.large-button {
    grid-column: span 2;
    border-radius: 75px;
    width: 190px;
    height: 90px;
}

.output {
    grid-column: 1/-1;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, 255);
    font-size: 3rem;
}
