<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    This Is a button
    <span class="caret"></span>
  </a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Some would consider this a button as well...
    <span class="caret"></span>
  </a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    This Is also a button
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu">
   google.com
  </ul>
</div>
